@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:ital,wght@1,100&family=Roboto&display=swap");

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 25px;
  border: 10px;
  padding: 10px 20px;
  border-style: solid;
  border-radius: 5px;

  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
ul {
  font: times;
  font-size: 15;
  list-style-position: outside;
  color: grey;
}

figcaption {
  font-family: impact;
  font-size: small;
}
.justin-class {
  background-color: grey;
  border-radius: 50%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 8px;
  justify-content: space-around;
}

.navelements,
h3,
h4 {
  background-color: #5f9ea0;
  padding: 10px;
  border-radius: 8px;
  text-decoration: none;
  color: black;
}

.flexclass {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flexclassbutton {
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

ul,
p {
  border: 5px;
  border-color: black;
  color: black;

  border-radius: 10px;
}

.ul-class {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
