@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto&display=swap");
* {
  box-sizing: border-box=85%vw;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 60px;
  border: 10px;
  border-style: groove;

  background-color: lightgrey;

  font-family: "Roboto", Arial;
}
ul {
  font: times;
  font-size: 15;
  list-style-position: outside;
  color: grey;
}
figcaption {
  font-family: impact;
  font-size: small;
}
.justin-class {
  background-color: grey;
}

.profile-style {
  display: grid;
}

nav {
  border: 10px;
  border-radius: 15%;
  margin: 10px;
}
